---
http_interactions:
- request:
    method: get
    uri: https://www.swr3.de/export/json/-/id=202234/gp1=1/wi3aps/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="uZEfYpAZQZ0ZDHFSCdNkliD1JLHL+OQZudRMuHKKa3c="; pin-sha256="pvsOo/07kXBfe36yjJgm6H46EJRe7gurjSAeunJgFyg=";
        pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="; includeSubdomains';
        max-age=10; report-uri="https://swr3.report-uri.io/r/default/hpkp/reportOnly"
    body:
      encoding: UTF-8
      string: "{ \"detail\": {\n  \"@id\": \"202234\",\n  \"leadText\": null,\n  \"text\":
        null,\n  \"topline\": \"SWR3 Musikrecherche\",\n  \"title\": \"Die letzten
        13 Titel auf SWR3\",\n  \"detailImages\": [\n  ]}, \"frontmod\": [{ \"title\"
        : \"We built this city\"\n       , \"externalId\" : \"williams_title2760\"\n
        \      , \"cover\" : { \"@id\": \"793426\",\n    \"alt\": \"CD-Cover Starship
        - We built this city\",\n    \"subline\": \"CD-Cover: Starship - We built
        this city\",\n    \"copyright\": \"SWR3.de\"\n    ,\"detail\": { \"src\":
        \"https://www.swr3.de/-/id=793426/property=detail/width=200/height=200/17upc7z/index.jpg\",\n
        \                  \"width\": 200,\n                   \"height\": 200}\n
        \           \n    ,\"small\": { \"src\": \"https://www.swr3.de/-/id=793426/property=small/width=100/height=100/n07kii/index.jpg\",\n
        \                  \"width\": 100,\n                   \"height\": 100}\n
        \           \n    ,\"thumbnail\": { \"src\": \"https://www.swr3.de/-/id=793426/property=thumbnail/width=160/height=160/1ssz2oa/index.jpg\",\n
        \                  \"width\": 160,\n                   \"height\": 160}\n
        \           \n    ,\"zoom\": { \"src\": \"https://www.swr3.de/-/id=793426/property=zoom/width=500/height=500/10ii3sz/index.jpg\",\n
        \                  \"width\": 500,\n                   \"height\": 500}\n
        \           \n    \n}\n       , \"artist\" : { \"name\" : \"Starship\"\n                     ,
        \"link\" : \"https://www.swr3.de/musik/poplexikon/-/id=927882/did=67074/varai6/index.html\"\n
        \                       , \"externalId\" : \"williams_artist1241\"                         \n
        \                    },\n       \"playDate\" : 1492083718000\n     }\n    ]}"
  recorded_at: Thu, 13 Apr 2017 11:45:05 GMT
recorded_with: VCR 3.0.3
