---
http_interactions:
- request:
    method: get
    uri: http://www.swr3.de/export/json/-/id=202234/gp1=1/wi3aps/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: "{ \"detail\": {\n  \"@id\": \"202234\",\n  \"leadText\": null,\n  \"text\":
        null,\n  \"topline\": \"SWR3 Musikrecherche\",\n  \"title\": \"Die letzten
        13 Titel auf SWR3\",\n  \"detailImages\": [\n  ]}, \"frontmod\":  [{ \"title\"
        : \"Red flag\"\n       , \"externalId\" : \"williams_title13552\"\n       ,
        \"cover\" : { \"@id\": \"211180\",\n    \"alt\": \"CD-Cover Billy Talent -
        Red flag\",\n    \"subline\": \"CD-Cover: Billy Talent - Red flag\",\n    \"copyright\":
        \"SWR3.de\"\n    ,\"detail\": { \"src\": \"http://www.swr3.de/-/id=211180/property=detail/width=200/height=174/pubVersion=15/18p3xn3/index.jpg\",\n
        \                  \"width\": 200,\n                   \"height\": 174}\n
        \           \n    ,\"small\": { \"src\": \"http://www.swr3.de/-/id=211180/property=small/width=100/height=87/pubVersion=15/1mxtehu/index.jpg\",\n
        \                  \"width\": 100,\n                   \"height\": 87}\n            \n
        \   ,\"thumbnail\": { \"src\": \"http://www.swr3.de/-/id=211180/property=thumbnail/width=160/height=139/pubVersion=15/1p6camf/index.jpg\",\n
        \                  \"width\": 160,\n                   \"height\": 139}\n
        \           \n    ,\"zoom\": { \"src\": \"http://www.swr3.de/-/id=211180/property=zoom/width=500/height=435/pubVersion=15/n4isxq/index.jpg\",\n
        \                  \"width\": 500,\n                   \"height\": 435}\n
        \           \n    \n}\n       , \"artist\" : { \"name\" : \"Billy Talent\"\n
        \                    , \"link\" : \"http://www.swr3.de/musik/poplexikon/Billy-Talent/-/id=927882/did=203054/14tqyuw/index.html\"\n
        \                       , \"externalId\" : \"williams_artist5897\"                         \n
        \                    },\n       \"playDate\" : 1359832123000\n     }\n    ]}"
  recorded_at: Sat, 02 Feb 2013 19:16:10 GMT
[...]
